.main-testimonials-wrapper {
  font-family: "Patrick Hand", cursive;
  background: url(../images/back1.png);
  background-position: center;
  background-size: cover;
  padding-top: 9rem;
  max-height: 950px;
}


.swiper-container {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.swiper-slide {
  margin: 20px 0;;
  display: grid;
  text-align: center;
  padding: 1.5rem 1rem;
  background:rgba(6, 41, 37, 0.8);
  width: 16.75rem;
  height: 16.75rem;
  border-radius:30px;
  color:grey;
  box-shadow:1px 1px 13px 1px cyan;
}
.swiper-slide:hover{
  box-shadow:1px 1px 13px 4px cyan;
}

.swiper-slide img {
  display: block;
  width: 12rem;
  max-height: 140px;
  justify-self: center;
  border-radius: 10%;
  margin-top: 0.6rem;

}

h5 {
  font-family: "GFS Didot", serif;
 

  font-weight: bold;
  color: #292f33;
}

P {
  color: wheat;
  font-family: 'Girassol', cursive;
}

/* Quote */

.quote-parent {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: top;
  padding-bottom: 30px;
  justify-content: center;
}

.quote {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  background:rgba(10, 0, 9, 0.8);
  border-radius: 100px;
  transition: all 0.5s;
}

.quote:hover {
  transform: scale(1.1);
  background-color: #062925;
  background:rgba(6, 41, 37, 0.6);
  box-shadow: 5px 5px 0px #062925, -5px -5px 0px;
  color: black;
  font-weight: bold;
}

.quote:hover > h1 {
  display: none;
}

.quote:hover > .quote-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote h1 {
  font-family: "Rubik", sans-serif;
  font-family: 'Girassol', cursive;
  letter-spacing: 2px;
  color:wheat;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.quote-content {
  display: none;
}
